body{
    background:#262625;
    color: white;
    text-align: center;
    min-height: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 510px;
    height: 400px;
}

.hidden{
    display: none;
}

.titleHeader{
    font-size: x-large;
    text-align: center;
    width: 99%;
    margin-bottom: 10px;
}

.titleBarColourEdit {
    position: absolute;
    top: 5px;
    right: 0px;
}

.titleBarColourEdit:hover {
    cursor: pointer;
}

.titleColourEditForeground {
    top: 5px;
    right: 20px;
}

.titleColourEditBackground {
    top: 10px;
    right: -15px;
}

.campaignName {
    width: 90%;
    position: relative;
    left: -22px;
}

.allowLineBreaks{
    white-space: pre-line;
}

.checkboxLabel{
    display: contents;
}

.baseButton{
    border: none;
    background: #c53131;
    color: white;
    text-align: center;
    cursor: pointer;
}

.baseButton:hover{
    background: #731d1d;
    transition: background 0.1s;
}

.campaignButton{
    width: 200px;
    height: 20px;
}

.addButton{
    width: 56px;
    right: 72px;
    height: 30px;
    top: -7px;
    position: absolute;
}

.deleteButton{
    width: 70px;
    right: 2px;
    height: 30px;
    top: -7px;
    position: absolute;
}

.tabBar{
    background: #c53131;
}

.tabButton{
    background: #c53131;
    color: white;
    cursor: pointer;
    border: none;
    width: 80px;
}

.tabButton:hover{
    background: #731d1d;
    transition: background 0.1s;
}

.tabButton.selected{
    background: #731d1d;
    cursor: default;
    outline: none;
}

.tabButton.selected > .tabButtonText{
    display: block;
}

.tabButton:hover > .tabButtonText{
    display: block;
}

.viewAllButton{
    width: 80px;
    height: 30px;
    position: absolute;
    right: 128px;
    top: -7px;
}

.inputBox{
    background: #262625;
    color: white;
    border: #262625 1px solid;
    cursor: cell;
}

.inputBox:hover{
    border: white 1px solid;
    transition: border 0.1s;
}

.inputBox::placeholder{
    color: #b1b1b1;
}

.inputBox.title{
    width: 95%;
}

.journalSearch{
    text-align: left;
}

.searchBox{
    width: 58%;
    height: 25px;
}

.searchButtons{
    position: relative;
    display: inline-block;
    top: -13px;
    left: 205px;
}

.objectiveBox{
    width: 75%;
}

.card{
    text-align: left;
}

.title{
    font-size: x-large;
}

.notes{
    min-width: 500px;
    min-height: 150px;
}

.notes.summary{
    min-height: 250px;
}

.popupBackground{
    background: rgba(0, 0, 0, 0.315);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.createPopupInput{
    width: 90%;
}

.popupContent{
    background: white;
    color: black;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    height: 75%;
}

.popupBackground .popupContent{
    animation: popupAnimation 0.1s;
}

.popupTitle{
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #c53131;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.closeButton{
    color: white;
    background: #c53131;
    border-radius: 10px;
    border: 1px white solid;
    position: absolute;
    right: 5px;
    top: 14px;
    cursor: pointer;
}

.closeButton:hover{
    background: #731d1d;
    color: white;
    transition: background 0.1s, color 0.1s;
}

.importExportBox{
    background: white;
    color: black;
    min-width: 400px;
    min-height: 100px;
}

.card a{
    color: aqua;
}

.searchContainer{
    overflow: auto;
    max-height: 180px;
    max-width: 420px;
}

.searchWrapper{
    background: white;
    color: black;
    cursor: pointer;
    text-align: left;
    padding: 1px;
}

.searchWrapper.withArrows{
    width: 85%;
}

.searchWrapper:hover{
    background: gray;
    color: white;
    transition: background 0.1s, color 0.1s;
}

.searchTag{
    display: inline;
    padding: 1px;
    color: white;
}

.searchTagQuestComplete {
    background: darkseagreen;
}

.searchWrapper:hover > .searchTagQuestComplete{
    background: darkolivegreen;
    transition: background 0.1s;
}

.searchTagCharacterParty{
    background: cornflowerblue;
}

.searchWrapper:hover > .searchTagCharacterParty{
    background: darkcyan;
    transition: background 0.1s;
}

.searchTagCharacterDead{
    background: indianred;
}

.searchWrapper:hover > .searchTagCharacterDead{
    background: darkred;
    transition: background 0.1s;
}

.searchExtraDetail{
    display: contents;
}

.moveArrow{
    position: relative;
    bottom: 20px;
    width: 5%;
    border-radius: 10px;
    margin-bottom: -10px;
    color: white;
    background: grey;
}

.arrowUp{
    left: 86%;
}

.arrowDown{
    left: 92%;
    bottom: 24px;
}

.moveArrow:hover{
    background: #bdbdbd;
    cursor: pointer;
    transition: background 0.1s;
}

.popupSearch{
    background: white;
    width: 80%;
    position: absolute;
    top: 148px;
    left: 9px;
    color: black;
}

.paypalButtonWrapper{
    display: contents;
}

.paypalButton{
    position: relative;
    bottom: -5px;
}

.colourEditTitle{
    display: inline;
    padding-right: 10px;
    position: relative;
    top: -4px;
}

.colourChooserContent{
    width: 60%;
    height: 50%;
    top: 25%;
    left: 20%;
    position: absolute;
    background: white;
    color: black;
    border-radius: 80px;
}

.colourSelectorChoices{
    position: relative;
    top: 15%;
}

.colourSelector{
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.colourSelectorPreview{
    border: 1px solid black;
}

.colourSelectorOkButton{
    position: relative;
    left: 25px;
    top: -5px;
}

.colourCodeInput{
    position: relative;
    top: 10px;
}

.popupWithText {
    overflow: auto;
    max-height: 70%;
}

.updatedThisVersion{
    max-height: 120px;
    overflow: auto;
}

@keyframes popupAnimation{
    0%{
        transform: translateY(25px);
    }

    20%{
        transform: translateY(20px);
    }

    40%{
        transform: translateY(15px);
    }

    60%{
        transform: translateY(10px);
    }

    80%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(0px);
    }
}